<div class="container-fluid around">
    <div class="rectangleBlue rectMargin wrapp textWhite">
        <p class="pHead">Porfolio (1 day)</p>
        <h2>-22.17</h2>
        <p class="unit">USD</p>
        <p class="percent textPink">-1.64 %</p>

    </div>
    <div class="rectangleBlue rectMargin wrapp textWhite">
        <p class="pHead">Porfolio (overall)</p>
        <h2>1172.6</h2>
        <p class="unit">USD</p>
        <p class="percent textGreen">11.7 %</p>
    </div>
    <div class="rectangleWhite rectMargin wrapp textBlack">
        <p class="pHead pHeadWhite">Game</p>
        <h2>1st</h2>
        <p class="unit">RANK</p>
        <p class="percent textBlue">117,211 USD</p>
    </div>
    <div class="rectangleWhite rectMargin wrapp textBlack">
        <p class="pHead pHeadWhite">S&P 500</p>
        <h2>3127.57</h2>
        <p class="unit">USD</p>
        <p class="percent textred">-0.37 %</p>
    </div>
</div>